<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="me.gqz.mapper.GqzAppImageMapper">
  <resultMap id="BaseResultMap" type="me.gqz.domain.GqzAppImage">
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="image_url" jdbcType="VARCHAR" property="imageUrl" />
    <result column="image_description" jdbcType="VARCHAR" property="imageDescription" />
    <result column="create_user_id" jdbcType="VARCHAR" property="createUserId" />
    <result column="create_user_name" jdbcType="VARCHAR" property="createUserName" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="image_status" jdbcType="VARCHAR" property="imageStatus" />
  </resultMap>

  <!-- 资源站添加图片-批量 -->
  <insert id="addGqzImage" parameterType="java.util.List">
    insert into gqz_app_image (id, image_url, image_description, create_user_id, create_user_name, create_time, image_status, version)
    VALUES
    <foreach collection="list" item="item" index="index" separator=",">
      (#{item.id}, #{item.imageUrl}, #{item.imageDescription}, #{item.createUserId}, #{item.createUserName}, #{item.createTime},
      #{item.imageStatus}, #{item.version})
    </foreach>
  </insert>

  <!-- 图片管理分页列表查询 -->
  <select id="queryGqzImageList" parameterType="me.gqz.model.dto.req.QueryGqzImageReqDTO"
          resultType="me.gqz.domain.GqzAppImage">
    SELECT
    id, image_url, image_description, create_user_name, create_time, image_status, version
    FROM
    gqz_app_image
    WHERE
    1=1
    <if test="beginDate !=null and beginDate !=''">
      AND create_time <![CDATA[ >= ]]> #{beginDate}
    </if>
    <if test="endDate !=null and endDate !=''">
      AND create_time <![CDATA[ <= ]]> #{endDate}
    </if>
    <if test="createUserName !=null and createUserName !=''">
      AND create_user_name LIKE concat('%',#{createUserName},'%')
    </if>
    ORDER BY create_time DESC
  </select>

  <!-- 图片管理下架图片 -->
  <update id="dropImageById" parameterType="me.gqz.domain.GqzAppImage">
    update `gqz_app_image`
    <set>
      <if test="imageStatus != null and imageStatus!= ''">
        image_status = #{imageStatus, jdbcType=VARCHAR},
      </if>
      <if test="updateUserId != null and updateUserId!= ''">
        update_user_id = #{updateUserId, jdbcType=VARCHAR},
      </if>
      <if test="updateUserName != null and updateUserName!= ''">
        update_user_name = #{updateUserName, jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime, jdbcType=TIMESTAMP},
      </if>
      version = version + 1
    </set>
    where id = #{id,jdbcType=VARCHAR} and version = #{version}
  </update>

  <!-- 图片管理上架图片 -->
  <update id="upImageById" parameterType="me.gqz.domain.GqzAppImage">
    update `gqz_app_image`
    <set>
      <if test="imageStatus != null and imageStatus!= ''">
        image_status = #{imageStatus, jdbcType=VARCHAR},
      </if>
      <if test="updateUserId != null and updateUserId!= ''">
        update_user_id = #{updateUserId, jdbcType=VARCHAR},
      </if>
      <if test="updateUserName != null and updateUserName!= ''">
        update_user_name = #{updateUserName, jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime, jdbcType=TIMESTAMP},
      </if>
      version = version + 1
    </set>
    where id = #{id,jdbcType=VARCHAR} and version = #{version}
  </update>

  <!-- 获取本月新增数据数量 -->
  <select id="queryThisMonthUploadCount" resultType="java.lang.Integer">
    SELECT
	  COUNT(id)
    FROM
	  gqz_app_image
    WHERE
	  DATE_FORMAT(create_time, '%Y%m') = DATE_FORMAT(CURDATE( ), '%Y%m')
  </select>
</mapper>