<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="me.gqz.mapper.GqzTencentWsDataMapper" >
  <resultMap id="BaseResultMap" type="me.gqz.domain.GqzTencentWsData" >
    <id column="id" property="id" jdbcType="VARCHAR" />
    <result column="ws_video_url" property="wsVideoUrl" jdbcType="VARCHAR" />
    <result column="ws_video_id" property="wsVideoId" jdbcType="VARCHAR" />
    <result column="ws_video_title" property="wsVideoTitle" jdbcType="VARCHAR" />
    <result column="worker_listener_status" property="workerListenerStatus" jdbcType="INTEGER" />
    <result column="create_user_id" property="createUserId" jdbcType="VARCHAR" />
    <result column="create_user_name" property="createUserName" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="version" property="version" jdbcType="INTEGER" />
  </resultMap>

  <!-- 开启数据统计 -->
  <update id="upWsDataWorkerListenerById" parameterType="me.gqz.domain.GqzTencentWsData">
    update `gqz_tencent_ws_data`
    <set>
      <if test="workerListenerStatus != null and workerListenerStatus!= ''">
        worker_listener_status = #{workerListenerStatus, jdbcType=VARCHAR},
      </if>
      version = version + 1
    </set>
    where id = #{id,jdbcType=VARCHAR} and version = #{version}
  </update>

  <!-- 关闭数据统计 -->
  <update id="dropWsDataWorkerListenerById" parameterType="me.gqz.domain.GqzTencentWsData">
    update `gqz_tencent_ws_data`
    <set>
      <if test="workerListenerStatus != null and workerListenerStatus!= ''">
        worker_listener_status = #{workerListenerStatus, jdbcType=VARCHAR},
      </if>
      version = version + 1
    </set>
    where id = #{id,jdbcType=VARCHAR} and version = #{version}
  </update>

  <!-- 查询开启数据统计的微视短视频集合 -->
  <select id="getStartWsData" resultType="me.gqz.domain.GqzTencentWsData">
    SELECT
    id, ws_video_id
    FROM
    gqz_tencent_ws_data
    WHERE
    worker_listener_status = 1
  </select>
</mapper>